/* Grundläggande styling för sidan */
body
{
    background-color: darkseagreen;
    margin: 0;
    padding: 20px;
}

h1 
{
    color:darkslategray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

p
{
    color:darkslategray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 0.5;
}
/* Input och huvudknappar */
#todoInput {
    display: block;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 250px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 10px;
}
#todoInput:focus {
    border-color: green;
    outline: none;
}
#todoInput::placeholder {
    color: gray;
    font-style: italic;
}

#addBtn {
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100px;
    height: 25px;
    padding: 0 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
}
#addBtn:hover {
    background-color: darkgreen;
}

#removeAllBtn {
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100px;
    height: 25px;
    padding: 0 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
}
#removeAllBtn:hover {
    background-color: darkred;
}

.buttonContainer {
    display:flex;
    justify-content: center;
    gap: 20px;
}

/* ToDo-listor och text */
.uncompletedTodo {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(170, 34, 34);
}

.completedTodo {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:green;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}
/* Complete- och Delete-knappar */
.statusButton {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
}
.statusButton:hover {
    background-color: darkgreen;
}

.deleteButton {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
}
.deleteButton:hover {
    background-color: darkred;
}
/* Styling för färdiga uppgifter */
.todoText {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    width: 250px;
    text-align: center;
}

.completed .todoText{
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}

.completedTodo {
    margin-top: 100px;
}